.outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85vw;
  height: 85vh;
}

.container {
  background-color: #0bd8d3;
  border-radius: 15px;
  display: flex;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.inner-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.header-left,
.header-right {
  width: 50%;
}

.header-left {
  display: flex;
  width: 100%;
  align-items: center;
}

.health-bar-wrapper {
  display: flex;
  align-items: center;
  width: 80%;
}

.health-bar {
  width: 100%;
  height: 30px;
  position: relative;
  margin-left: 10px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.health-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #ff0000, #ff9900, #ffff00, #00ff00);
  filter: blur(8px);
  z-index: 1;
}

.health-bar-inner {
  height: 100%;
  background: linear-gradient(to right, #ff0000, #ff9900, #ffff00, #00ff00);
  position: absolute;
  left: 0;
  z-index: 2;
  border: 1px solid black;
  border-radius: 15px;
  transition: all 2s ease-in-out;
}

.health-icon {
  position: relative;
  margin-right: 10px;
}

.health-icon img {
  width: 40px;
  height: 40px;
}

.health-text {
  font-size: 16px;
  color: #ffffff;
  margin-left: 10px;
  text-shadow: 1px 1px 2px #000000;
}

.date {
  font-size: 14px;
  color: #ffffff;
  text-align: right;
}

.content-area {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  padding-bottom: 20px;
}

.chat-box {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px;
  flex-grow: 1;
  overflow-y: auto;
  margin-right: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  width: 80%;
}

.inner-chat-container {
  display: flex;
  flex-direction: column;
}

.message {
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 10px;
  max-width: 70%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: block;
  font-size: 14px;
  line-height: 1.4;
  border-left: 3px solid #0bd8d3;
  overflow: hidden;
  resize: none;
  box-sizing: border-box;
  width: 100%;
  min-height: 40px;
}

.system-message {
  background-color: #e3f2fd;
  // align-self: flex-start;
  color: #333;
}

.user-message {
  background-color: #d1e7dd;
  // align-self: flex-end;
  color: #333;
}
.system-message-container{
  display: flex;
  justify-content: flex-start;
}
.user-message-container{
  display: flex;
  justify-content: flex-end;
}
.sidebar {
  background-color: #ffffff;
  width: 35%;
  border-radius: 15px;
  padding: 20px;
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow-x: hidden;
  width: 20%;
}

.user-image {
  height: 40%;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
  display: block;
  overflow: hidden;
}

.user-image img {
  height: 100%;
  display: block;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border: 2px solid #0bd8d3;
  transform: scale(0.95);
  filter: blur(2px);
  transition: transform 1s ease, filter 1s ease;
}

.user-image img.image-loaded {
  transform: scale(1);
  filter: blur(0);
}

.user-image img.fade-in {
  opacity: 1;
}

.loading-bar-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 99;
}

.loading-bar {
  height: 100%;
  width: 0;
  background-color: #0bd8d3;
  animation: load 2s linear infinite;
}

@keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.user-info {
  text-align: center;
  font-size: 14px;
  color: #666;
  height: 60%;
  overflow-y: auto;
}

.input-box {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.input-box textarea {
  width: 100%;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid #ccc;
  font-size: 14px;
  resize: none;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
}

.input-box button {
  padding: 15px 30px;
  border: none;
  border-radius: 15px;
  background-color: #0bd8d3;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.input-box button:hover {
  background-color: #0aa6a1d2;
}

::ng-deep .custom-tooltip {
  white-space: pre-line;
  color: black;
  font-size: 14px;
  padding: 8px;
  border-radius: 4px;
}

.info-icon {
  width: 40px;
  color: #78e2e0d6;
  cursor: pointer;
  margin-left: 8px;
}

.chat-box-icon {
  margin-left: auto;
  text-align: end;
}

.image-info-icon {
  position: absolute;
  right: 0;
  top: 10px;
  z-index: 99;
}

.chat-section-icon {
  margin-right: auto;
  margin-bottom: auto;
}

.magnifying-glass-icon {
  cursor: pointer;
  margin-left: 5px;
  vertical-align: middle;
  color: #0bd8d3;
}

.magnifying-glass-icon:hover {
  color: #0bd8d5c1;
}

.disabled-icon {
  color: #ccc;
  cursor: not-allowed;
  pointer-events: none;
}
