<div class="outer-container">
  <div class="container">
    <div class="inner-container">
      <div class="main-content">
        <div class="header">
          <div class="header-left">
            <div class="health-bar-wrapper">
              <div class="health-icon">
                <img
                  src="../../../assets/images/pixel-heart-heart.png"
                  alt="Health Icon"
                />
              </div>
              <div class="health-bar">
                <div class="health-bar-inner" [style.width.%]="healthScore"></div>
              </div>
              <div class="health-text">{{ healthScore }}%</div>
            </div>
          </div>
          <div class="header-right">
            <div class="date">19 Giugno 2024</div>
          </div>
        </div>
        <div class="content-area">
          <div class="chat-box">
            <div
              *ngFor="let message of messages"
              class="message"
              [ngClass]="{
                'system-message': message.type === 'system',
                'user-message': message.type === 'user'
              }"
            >
              {{ message.text }}
            </div>
          </div>
          <div class="sidebar">
            <div class="user-image">
              <img src="https://via.placeholder.com/100" alt="User Image" />
            </div>
            <div class="user-info">
              <p><strong>Informazioni:</strong> info utili dell'utente.</p> 
              <p *ngFor="let key of userKeys; index as i"><strong>
                {{key}}:</strong> {{userValues[i]}}</p>
            </div>
          </div>
        </div>
        <div class="input-box">
          <textarea
            placeholder="Type your message here..."
            [(ngModel)]="newMessage"
            (input)="adjustTextareaHeight($event)"
          ></textarea>
          <button (click)="sendMessage()">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
